* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}
#root {
  display: flex;
}

.container {
  display: flex;
  margin: 100px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img {
  height: 300px;
  width: 100%;
}

#back-button {
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  left: 7px;
  top: 125px;
}

#forward-button {
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  right: 7px;
  top: 125px;
}

.dot-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
}
